.row
	.col-xs-12
		%h1
			Edit Property

.row
	.col-xs-12
		%hr

= render partial: 'form'
	
.row
	.col-xs-12
		%hr

= render partial: 'spreadsheet'

.row
	.col-xs-12
		%hr

= render partial: 'summary'